*{
    margin:0;
    padding:0;
}
.container {
    background:url("../images/banner1.png") repeat-x top left;
    border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
    height: 130px;
    overflow: hidden;
    width: 100%;
}
.content {
    margin-left:5px;  
    width:900px;
}